.item{
    width: 50%;
    float: right;
    background: #f6f6f6;
    padding: 0px 20px;
}
.item-header{
    border-bottom: 1px solid #333;
}
.item-title{
    color:#333;
    font-weight: 500;
    font-size: 1.5em;
    text-transform: capitalize;
}
.item-list{
    width: 15%;
    text-align: center;
    clear: both;
    display: flex;
    justify-content: center;
    align-items: center;
}
.list{
    background: #aa0048;
    width: 70%;
    height: 20px;
    position: relative;
    left: 10px;
    color: #f6f6f6;
    font-size: 0.9em;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    border-radius: 10px;
}
.icon-registry {
    width: 25px;
    float: left;
}
